{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "h"
      }
    ],
    ["module:@ungap/plugin-transform-static-jsx"]
  ],
  "comments": true
}
